NEXT_PUBLIC_SUPABASE_URL=https://supabase.myliteracyhub.com
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_APP_URL=https://psicologia.myliteracyhub.com
ALLOWED_EMAIL_DOMAIN=byron.edu.pe
RESEND_API_KEY=
EMAIL_FROM=Psicología Lord Byron <notificaciones@myliteracyhub.com>
